################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ReportGeneratorUtils/v15/Server/sqlite3
/ReportGenApp/bin
/ReportGenApp/obj/Release
/ReportGeneratorUtils.UnitTests/bin/Debug
/ReportGeneratorUtils.UnitTests/obj/Debug
/ReportGeneratorUtils.UnitTests/obj/Release
